<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styling/newStyle.css">
</head>

<body>
    <nav>
        <div class="logo">
            Haatey Kolomey
        </div>
        <div class="nav-links">
            <a class="" href="/">Home</a>
            <a class="active" href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/login">Log in </a>
        </div>
    </nav>
    <section class="main">
        <div class="main-col1">
            <div class="main-col1-content">
                <h1>About this project</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolore eaque nulla consequuntur rem, corporis commodi illum voluptate aliquam quam nostrum, tempore nobis cum blanditiis. Inventore velit qui nesciunt distinctio!
                    
                </p>
                <a href="/register"> <button>Sign Up</button> </a>
            </div>
        </div>
        <div class="main-col2">
            <img src="./cat01.png" alt="">
        </div>
    </section>
</body>

</html>