<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=EB+Garamond:ital@0;1&family=Lato:wght@100;300&family=Lobster&family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Source+Sans+Pro:wght@200;400&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="../styling/newStyle.css">
</head>

<body>
    <nav>
        <div class="logo">
            Haatey Kolomey
        </div>
        <div class="nav-links">
            <a class=""  href="/">Home</a>
            <a class="active"  href="/about">About</a>
            <a  href="/contact">Contact</a>
            <a  href="/login">Log in </a>
        </div>
    </nav>
    <section class="main">
        <div class="main-col1">
            <div class="main-col1-content">
                <h1 class="aboutInfo1">About this project</h1>
                <p class="aboutInfo">
                    <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolore eaque 
                    nulla consequuntur rem, corporis commodi illum voluptate aliquam quam nostrum, 
                    tempore nobis cum blanditiis. Inventore velit qui nesciunt distinctio! -->

                    This project is done for my undergraduate thesis. Since my
                    thesis is over Real Time software Design and development, So I wanted to create an
                    open source online chat application which is easy to handle and helpful for everyone. 
                    
                </p>
                <a href="/register"> <button class="signUp">Sign Up</button> </a>
            </div>
        </div>
        <div id ="main-col2">
           <!--  <img src="./cat01.png" alt=""> -->
            <img class="img1" src="./laptop.png" alt="">
        </div>
    </section>
</body>

</html>