<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://localhost:8000/styling/style.css">
    <title>Haatey Kolomey</title>
    <script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="http://localhost:8000/ext/socket.io.js"></script>
    <script>
        var clientSocket = io.connect('http://localhost:8000')
    </script>

<script src="https://kit.fontawesome.com/250a75c0f3.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">


        <div class="nav">
            <span id="chatTitle">HAATEY-KOLOMEY</span>
            <div class="view-buttons-container">
                <button class="view-button" id="drawingBoard">Board</button>
                <button class="view-button" id="slideButton">Slide</button>
            </div>
            <div class="room-info">
                <div class="room-name-container">
                    Room: <span id="roomName">
                        <%= roomName %>
                    </span>
                </div>
                <div class="room-password-container">
                    Password: <span id="roomPassword">
                        <%= roomPassword %>
                    </span>
                </div>
            </div>
            <button id="userButton">
               <!--  user -->

              
                  <span id="logoutTooltip">Logout  </span>  
                    <a href="/logout"><i  class="fas fa-user-alt"></i> </a>  
                   

            </button>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
        
        <div class="canvas-container">
            
            <div id="slideContainer">
                <form>
                    <label id="label"> Slide URL</label>
                    <input id="pdfUrlInput" class="urlinput" type="text"
                        placeholder="http://localhost:8000/pdf/fileName.pdf">
                    <input type="button" id="loadPdf" value="Load">
                </form>
            </div>
            <div id="my_pdf_viewer">
                <div id="canvasForPdf">
                    <canvas id="pdf_renderer"></canvas>
                </div>
                <div class="pdfViewer-controls">
                    <div id="navigation_controls">
                        <button class="button-pdfViewer" id="go_previous">    <i class="fas fa-chevron-left"></i></button>
                        <input class="input-pdfViewer" id="current_page" value="1" type="number" />
                        <button class="button-pdfViewer" id="go_next">    <i class="fas fa-chevron-right"></i> </button>
                    </div>
                    <div id="zoom_controls">
                        <button class="button-pdfViewer" id="zoom_in"><i class="fas fa-search-plus"></i></button>
                        <button class="button-pdfViewer" id="zoom_out"><i class="fas fa-search-minus"></i></button>
                    </div>
                </div>
            </div>
    


        <canvas class="drawing-canvas" id="canvas"></canvas>
        <div class="drawing-tools">
            <button class="color-picker-button boardButton" id="boardButtonFake">
                <span class="tooltipForBoardButton">pour some color on board</span>
                <input type="color" id="boardButtonReal">
            </button>
            <button class="color-picker-button brushButton" id="brushButtonFake">
                <span class="tooltipForBrushButton">pick a colored brush</span>
                <input type="color" id="brushButtonReal">
            </button>
            <button class ="color-picker-button" id = "eraseButton">
                <span class="tooltipForEraseButton">Clear all</span>
            </button>
             
            <button class ="color-picker-button" id = "voiceButton">
                <i class="fas fa-video"></i>
            </button>            
        </div>
        
        
        </div>
        
        
        <div class="side-bar">
            <div class="videobox-container">
                <div class="title-bar">Participants</div>
                <div class="videobox"></div>
            </div>
            <div class="chat-output-container">
                <div class="title-bar">Text chat</div>
                <div id="chatOutput"></div>
            </div>
        </div>

        <div class="chat-input-container">
        
            <div id="clientName"> </div>
            <div id="clientChatInput" contenteditable="true">
                Chat here...
            </div>

            <button id="sendButton">
                send
            </button>
        
        </div>

    </div>
    <script src="http://localhost:8000/pdf/pdf.js"></script>
    <script defer src="http://localhost:8000/webpackBuild/brushBoard.js"></script>
    <script defer src="http://localhost:8000/peerInit.js"></script>
    <script defer src="http://localhost:8000/videoService.js"></script>
    <script defer src="http://localhost:8000/chat.js"></script>

    <script>
        window.addEventListener('load', (e) => {
            const firstname = localStorage.getItem('firstname')
            const lastname = localStorage.getItem('lastname')
            document.getElementById('clientName').innerHTML = `${firstname} ${lastname}`
            clientSocket.emit("joinedWithUserName", {firstname, lastname})
        })
    </script>
</body>
</html>