<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styling/newStyle.css">
</head>

<body>
    <nav>
        <div class="logo">
            Haatey Kolomey
        </div>
        <div class="nav-links">
            <a class="" href="/">Home</a>
            <a href="/about">About</a>
            <a class="active" href="/contact">Contact</a>
            <a href="/login">Log in </a>
        </div>
    </nav>
    <section class="main">
        <div class="main-col1">
            <div class="main-col1-content">
                <h1>Contact</h1>
                <p>github</p>
                <p>email</p>
                <p>linkedin</p>
            </div>
        </div>
        <div class="main-col2">
            <img src="./cat01.png" alt="">
        </div>
    </section>
</body>

</html>