<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css"
        integrity="sha512-zzq8ZrbhP7DGbwClbqSYuo+di3FvAlMNykCKWE6pHuqmCgGjJSISDTzy7QkdI2ajLlgw0nx6hxIu8os2hYuN8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="nav">
        <a href="/">Home </a>
        <a href="/login">Log in </a>
        <a href="/">Log out </a>
        <a href="/register">Register</a>
    </div>

    <h1>Hello !</h1>
    <div id="firstname"><%= firstname %></div>
    <div id="lastname"><%= lastname %></div>

    <hr>
    <p>Want to create a room?</p>

    <form action="/createChatRoom" method="POST">
        <input id="roomNameInput" name="roomName" type="text" placeholder="Name of your room">
        <input type="submit" value="Create">
    </form>

    <hr>
    <p>Want to join a chatroom?</p>
    <form action="" method="">
        <input id="roomLink" type="text" name="roomLink" placeholder="Room link..">
        <input id="roomPassword" type="text" name="roomPassword" placeholder="Room password..">
        <input type="submit" value="Join">
    </form>

    <script>
        window.addEventListener('load', (e) => {
            const firstname = document.getElementById('firstname').innerHTML
            const lastname = document.getElementById('lastname').innerHTML

            localStorage.setItem('firstname', firstname)
            localStorage.setItem('lastname', lastname)

        })
    </script>
</body>

</html>