<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css"
        integrity="sha512-zzq8ZrbhP7DGbwClbqSYuo+di3FvAlMNykCKWE6pHuqmCgGjJSISDTzy7QkdI2ajLlgw0nx6hxIu8os2hYuN8w=="
        crossorigin="anonymous" /> -->
    <!-- <link rel="stylesheet" href="http://localhost:8000/style.css"> -->
    <link rel="stylesheet" href="../styling/login.css">
    
</head>

<body>
    <div class="container">
        <div class="logo">

        </div>
        <div class="clear"></div>
        <div class="menu">
            <a href="/">Home </a>
            <a  href="">About</a>
            <a  href="">Help</a>
            <a  href="">Contact</a>
                
            <a href="/login">Log in </a>
            <a href="/">Log out </a>
            <a href="/register">Register</a>
        </div>
        <div class="clear"></div>
    
    </div>
    
    
    
    <h1>Hello !</h1>
    <div id="firstname"><%= firstname %></div>
    <div id="lastname"><%= lastname %></div>
    <p class="message1">Want to create a room?</p>

    <!-- <hr> -->

    <div class="dashboard-page">
        <div class="form">
            <form id="form_createRoom" action="/createChatRoom" method="POST">
                <input id="roomNameInput" name="roomName" type="text" placeholder="Name of your room">
                
                <input id="submit" type="submit" value="Create">
                <p class="message">Want to join a chatroom? <span id="registerLink">Join here</span></p>
                
            </form>
        
            <!-- <hr> -->
            
            <form id="form_joinRoom" action="/joinChatRoom" method="POST">
                <input type="text" name="roomName" placeholder="Room name..">
                <input id="roomPassword" type="text" name="roomPassword" placeholder="Room password..">
                <input id="submitButton" type="submit" value="Join">
                <p class="message"> Want to create a room? <span id="loginLink">Create here</span></p>
            </form>
            

        </div>
    </div>
    

    
    
    <script>
        window.addEventListener('load', (e) => {
            const firstname = document.getElementById('firstname').innerHTML
            const lastname = document.getElementById('lastname').innerHTML

            const submitButton = document.getElementById('submitButton');
            const roomNameInput = document.getElementById('roomNameInput');

            localStorage.setItem('firstname', firstname)
            localStorage.setItem('lastname', lastname)

            submitButton.addEventListener('click', (e)=>{
                clientSocket.emit('roomCreated', {
                    roomName: roomNameInput.value,
                })

            })



        })
        var loginPage = document.getElementById('dashboard-page')
        var registerLink = document.getElementById("registerLink");
        var loginLink = document.getElementById("loginLink");
    
        var form_createRoom = document.getElementById('form_createRoom')
        var form_joinRoom = document.getElementById('form_joinRoom')

        registerLink.addEventListener("click", function(){
            form_createRoom.style.display = "none";
            form_joinRoom.style.display = "block";
});

    loginLink.addEventListener("click", function(){
        form_createRoom.style.display = "block";
        form_joinRoom.style.display = "none";
});
       
    </script>
    
</body>

</html>