<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styling/newStyle.css">
</head>

<body>
    <nav>
        <div class="logo">
            Haatey Kolomey
        </div>
        <div class="nav-links">
            <a class="" href="/">Home</a>
            <a class="" href="/about">About</a>
            <a href="/contact">Contact</a>
            <!-- <a href="/login">Log in </a> -->
            <a href="/logout">Log out </a>
        </div>
    </nav>

    <div class="main">

        <div class="main-col1">
            <div class="forms-dashboard">
                <form id="form_createRoom" class="form-vertical" action="/createChatRoom" method="POST">
                    <div>Create a room</div>
                    <input id="roomNameInput" name="roomName" type="text" placeholder="Name of your room">

                    <button id="submit" type="submit">Create</button>
                    <p class="message">Want to join a chatroom? <span id="registerLink"><a>Join here</a></span></p>

                </form>

                <!-- <hr> -->

                <form id="form_joinRoom" class="form-vertical" action="/joinChatRoom" method="POST">
                    <div>Join a room</div>
                    <input type="text" name="roomName" placeholder="Room name..">
                    <input id="roomPassword" type="text" name="roomPassword" placeholder="Room password..">
                    <button id="submitButton" type="submit">Join!</button>
                    <p class="message"> Want to create a room? <span id="loginLink"><a>Create here</a></span></p>
                </form>


            </div>
        </div>

        <div class="main-col2">
            <div class="loggedin-greetings-container">
                <div class="loggedin-greetings">
                    Hello <span id="firstname">
                        <%= firstname %>
                    </span> <span id="lastname">
                        <%= lastname %>
                    </span>
                </div>
            </div>
            <img src="./cat01.png" alt="">
        </div>
    </div>
    <script>
        window.addEventListener('load', (e) => {
            const firstname = document.getElementById('firstname').innerHTML
            const lastname = document.getElementById('lastname').innerHTML

            const submitButton = document.getElementById('submitButton');
            const roomNameInput = document.getElementById('roomNameInput');

            var loginPage = document.getElementById('dashboard-page')
            var registerLink = document.getElementById("registerLink");
            var loginLink = document.getElementById("loginLink");

            var form_createRoom = document.getElementById('form_createRoom')
            var form_joinRoom = document.getElementById('form_joinRoom')

            // initially hide the join room form
            form_joinRoom.style.display = "none";

            localStorage.setItem('firstname', firstname)
            localStorage.setItem('lastname', lastname)

            submitButton.addEventListener('click', (e) => {
                clientSocket.emit('roomCreated', {
                    roomName: roomNameInput.value,
                })
            })
        })

        registerLink.addEventListener("click", function () {
            form_createRoom.style.display = "none";
            form_joinRoom.style.display = "flex";
        });

        loginLink.addEventListener("click", function () {
            form_createRoom.style.display = "flex";
            form_joinRoom.style.display = "none";
        });
    </script>

</body>

</html>