<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.min.css" integrity="sha512-zzq8ZrbhP7DGbwClbqSYuo+di3FvAlMNykCKWE6pHuqmCgGjJSISDTzy7QkdI2ajLlgw0nx6hxIu8os2hYuN8w==" crossorigin="anonymous" /> -->
    <!-- <link rel="stylesheet" href="http://localhost:8000/styling/style.css"> -->
    <link rel="stylesheet" href="../styling/dynamicHomePage.css">
</head>
<body>
    <!--<div class="nav">
        <a href="/">Home </a>
        <a href="/login">Log in </a>
        <a href="/">Log out </a>
        <a href="/register">Register</a>
    </div>

    <h1>Home sweet home!</h1>

    <input type="text">
    <button>abcd</button>-->
    <header>
        <div class="container">
            <div class="top-bar">
                <div class="nav-col">
                    <div class="Logo">
                    
                    </div>
                    <div class="clear"></div>
                    <div class="menu">
                        <a class="active" href="">Home</a>
                        <a  href="">Service</a>
                        <a  href="">About</a>
                        <a  href="">Help</a>
                        <a  href="">Contact</a>
                        <a  href="/login">Log in </a>
                        <!-- <a href="/">Log out </a> -->
                         <!-- <a href="/register">Register</a> -->

                    </div>
                    <div class="clear"></div>
                </div>
                
                
            
            <div class="cnt-info-col">
                <a  href="address: galia.giti@gmail.com"> <span>Address:</span> galia.giti@gmail.com</a>
            </div>
            <div class="clear"></div>
            </div>
        </div>
    </header>
    <section class="header-bg-parent">
        <div class="header-col1">
            <h5>WELCOME </h5>
            <h2>Haatey Kolomey</h2>
            <p>Learn to study and do group works in home without payment.
            Make the communication easy between students and teachers.
            Take online classes for helping students by sitting at home. </p>
             <a href ="/register"> <button   id="common-btn" type="button">Sign Up</button>   </a> 
              <!-- <a  id="common-btn"  id="btn1" href="/register">Sign Up</a>  -->
            
        </div>
        <div class="header-col2">

        </div>
        <div class="clear"></div>
    </section>
    
</body>
</html>
