<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styling/newStyle.css">
</head>

<body>
    <nav>
        <div class="logo">
            Haatey Kolomey
        </div>
        <div class="nav-links">
            <a class="" href="/">Home</a>
            <a class="" href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/login">Log in </a>
        </div>
    </nav>
    <section class="main">
        <div class="main-col1">
            <div class="main-col1-content">
                <div class="form-introducer-text">Enter following information:</div>
                <form id="form-register" class="form" action="/register" method="POST">
                    <input type="text" name="username" value="" placeholder="username">
                    <input type="password" name="password" value="" placeholder="password">
                    <input type="password" name="confirmPassword" value="" placeholder="confirm password">
                    <input type="text" name="firstname" value="" placeholder="first name">
                    <input type="text" name="lastname" value="" placeholder="last name">
                    <input type="email" name="userEmail" value="" placeholder="email">

                    <button id="submit" type="submit">Register</button>
                    <p class="message">
                        Not yet logged in? Login <a id="loginLink" href="/login"> here!</a>
                    </p>
                </form>
            </div>
        </div>
        <div id ="main-col2">
            <!-- <img src="./cat01.png" alt=""> -->
            <!--   <img class="img1" src="./girlWorkingOnLaptop2.png" alt="">   -->
            <!--  <img class="img1" src="./girlWorkingOnLaptop.png" alt=""> -->
            <img class="img1" src="./girlStudingOnLaptop.png" alt="">  
              
        </div>
    </section>
</body>

</html>