    * {
        font-family: sans-serif;
        margin: 0px;
        outline: 0px;
        /* transition: all .5s; */
    }
    body{
        color: #3D3A68;
    }
    h1{
        font-size: 3rem;
    }
    a{
        text-decoration: none;
        color: #3D3A68;
        font-size: 1.1rem;
    }
   

    a:hover{
        color:#8781da;  
    }

    input{
        border: 0px;
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
    }


    .active{
        background-image: linear-gradient(to right, #8d8bad , #9895b8);
        width: 100px;
        height: 30px;
        border-radius: 10px;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    nav {
        display: flex;
        justify-content: space-between;
        height: 10vh;
    }

    .logo {
        /* background-color: rgb(57, 133, 61); */
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color:#3D3A68;
        margin-left: 30px;
    }

    .nav-links {
        /* background-color: rgb(23, 206, 33); */
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 70px;
    }

    .main {
        /* background-color: aquamarine; */
        display: flex;
        height: 90vh;

    }

    .main-col1 {
        width: 40%;
        /* background-color: beige; */
        display: flex;
        padding-left: 80px;
        padding-right: 40px;
        justify-content: center;
        align-items: center;
    }

    .main-col1-content {
        /* background-color: rebeccapurple; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 100px;
        margin-top: -100px;
    }
    .main-col1-content>h1 {
        margin-bottom: 1.5rem;
        color: #3D3A68;
    }
    .main-col1-content>p {
        margin-bottom: 1.5rem;
        color: #3D3A68;
        font-size: 1.1rem;
        
    }
    .form-introducer-text{
        font-size: 1.2rem;
        margin-bottom: 20px;
        
    }
    button{
        background-image: linear-gradient(to right, #3D3A68 , #7772c0);
        color: white;
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
    button:hover{
        box-shadow: 1px 1px 15px 1px #3D3A68;
    }


    .main-col2 {
        width: 60%;
        /* background-color: rgb(182, 182, 31); */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-col2>img{
        opacity: 0.5;
    }

    #form-register{
        display: flex;
        flex-direction: column;
        height: 400px;
        justify-content: space-around;
    }

    @media screen and (max-width:600px) {
        
    }
