* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 5vh 90vh 5vh;
}
.nav {
   z-index: 100; 
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #19192c;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,.5);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.view-buttons-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.view-button{
  width: 130px;
  height: 30px;
  border-radius: 90px 250px 50px 90px;
  background-color: #ffffff;
  position: relative;
  color: #111122;
  border: 1px;
  cursor: pointer;
}


#canvasForPdf {
  width: 1130px;
  height: 540px;
  overflow: auto;
  text-align: center;
  border: 3px;
  background: #303947;
}
.pdfViewer-controls{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.button-pdfViewer{
  width: 2rem;
  height: 2rem;
  background-color: #102b5f;
  border: 0px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.input-pdfViewer{
  width: 4rem;
  height: 2rem;
  background-color: #102b5f;
  border: 0px;
  border-radius: 4px;
  color: white;
  text-align: center;
}


.button-pdfViewer:hover{
  background-color: #7772c0;
}

#colorUserChosen {
  display: none;
}

#userChosenBoardColor {
  display: none;
}

.side-bar{
  z-index: 0;
  background: #19192c;
  grid-column: 1/2;
  grid-row: 2/4;
}
.videobox-container{
  height: 50%;
}
.videobox{
  overflow: auto;
  height: 100%;
}
.video-container{
  margin: 5px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: "1px 1px 10px 1px rgba(0,0,0,0.3)";
  border-radius: "7px";
}
.video-broadcaster-name{
  color: rgb(209, 209, 209);
  font-size: .8rem;
  margin-top: 5px;
}
.video-element{
}
.chat-output-container{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
#chatOutput{
  width: 100%;
  height: 100%;
  overflow: auto;

}
.title-bar{
  background-color: #090916;
  color: #79778d;
  padding: 5px;
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.5);
}

.chat-input-container {
  z-index: 99;
  grid-column: 2/3;
  grid-row: 3/4;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px -1px 10px 1px rgba(0, 0, 0, 0.5);
}

#clientName{
  width:10%;
  background-image: linear-gradient(to right, #19192c , #7772c0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}
#clientChatInput {
  width:80%;
  color: #595f66;
  max-height: 100%;
  overflow: auto;
  padding: 10px;
  outline: none;
  font-size: .9rem;
}

#sendButton {
  background-image: linear-gradient(to right , #7772c0, #211f38);
  width:10%;
  background-color: paleturquoise;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  border: 0px;
  outline: none;
}
#sendButton:hover{
  background-image: linear-gradient(to right , #201f38, #79778d);
}

#chatTitle {
  font-size: 1.4rem;
  color: #babbbd;
  letter-spacing: .9rem;
  margin-left: 5px;

}

.clientMessage {
  background: rgb(233, 233, 233);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.canvas-container {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
   /* background-color: #2E2D4D;    */
     background-color: #19192C;   
    
}

.drawing-canvas {
  /*
  top: -1px;
  position: absolute; */
  width: 93%;
  height: 100%;
   /* border: 2px solid red;  */
   
}

.userJoinedTime{
   color: rgb(128, 119, 119); 
  /*color: #BABBBD;*/
  text-align: center;
}



.chatContainer {
  overflow-y: visible;
  display: grid;
  grid-template-columns: 10% 90%;
  padding: 1rem;
  padding-bottom: 0rem;

}
.userIntial {
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  font-weight: bold;
  grid-column: 1/2;
  /* position: absolute;
  top: 10px;
  left: 5px; */
}
.usernameDiv {
  color: #c9d4e1;
  /* position: absolute;
  left: 50px;
  top: 10px; */
  font-weight: bold;
  grid-column: 2/3;
  padding-left: 1rem;
}
.chatChunk {
  color: #aeb5bd;
  grid-column: 2/3;
  padding: 1rem;
  margin-top: -20px;
  /* position: absolute;
  top: 30px;
  left: 50px; */
}

.drawing-tools{
  /* border: 1px solid yellow; */
     position: absolute;  
     
  top: 0px;
  left: 93.8%;
   display: flex; 
     flex-direction: column;  
       
    
   
   
   
   
  
  
  
}



.color-picker-button{
  padding: 15px 15px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
  border: none;
  margin: 5px;
   position: relative; 
  cursor: pointer;
  
   

   /* float: right;  */
  /* display: block; */
  outline: none;
}

.boardButton {
  background: #ffffff;
}

.tooltipForBoardButton {
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;

  bottom: 20%;
  left: 50%;
  margin-left: -160px;
  opacity: 0;
  padding: 5px;
  transition: opacity 0.3s;
}

.boardButton:hover .tooltipForBoardButton {
  opacity: 0.7;
}

.brushButton {
  background-color: #102b5f;
}

.tooltipForBrushButton {
  visibility: hidden;

  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;

  bottom: 20%;
  left: 50%;

  margin-left: -160px;
}

.brushButton:hover .tooltipForBrushButton {
  visibility: visible;
  opacity: 1;
}

#eraseButton {
  background-color: #ee4e4e;
  border-radius: 20px; 
  
}

#eraseButton:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\1F7A9"; /* use the hex value here... */

  font-size: 25px;
  color: #fff;
  line-height: 37px;
  text-align: center;
}

.tooltipForEraseButton {
  visibility: hidden;

  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;

  bottom: 20%;
  left: 50%;

  margin-left: -100px;
}

#eraseButton:hover .tooltipForEraseButton {
  visibility: visible;
  opacity: 1;
}

#voiceButton {
  height: 40px;
  width: 40px;
  background-color: #112255;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
  cursor: pointer;
  
}
#voiceButton:hover{
  background-color: #475fa8;

}


/* 
#voiceButton:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;

  content: "\0260E";

  font-size: 25px;
  color: #fff;
  line-height: 40px;
  text-align: center;
}
 */
.tooltipForVoiceButton {
  visibility: hidden;
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;

  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

#voiceButton:hover .tooltipForVoiceButton {
  visibility: visible;
  opacity: 1;
}


#loadPdf {
  background-color: #2a6561;
  border: 1px;
  height: 22px;

  color: #cfcfcf;
  left: -5px;

  position: relative;
}

.urlinput {
  width: 75%;
  background-color: #898f98;
  border: 0px;
  height: 20px;
}

#label {
  color: #cfcfcf;
  font-size: 15px;
}

#userButton {
  font-size: 20px;
  /* color: white; */
  
  margin-right: 15px;
  outline: 0px;
    
  background-color: #19192C;
   border: 0px; 
  cursor: pointer;
  
}

#userButton> a{
  color: #34495E;
}

#logoutTooltip{
  visibility: hidden;
  font-size: 1rem;
  
}

#userButton:hover #logoutTooltip{
visibility: visible;
color: #A0A0A0


}
#cursorOnBoardButton {
  font-size: 20px;
  float: right;
}

.room-info{
  color: white;
  font-size: .9rem;
  color: #91919e;
}
#roomName, #roomPassword{
  font-family: monospace;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
}